<form action="<%= action %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= method %>">
  <label>Sub Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>

  <br>

  <label>Sub Description
    <input type="textarea" name="sub[description]" value="<%= @sub.description %>">
  </label>

  <br><br>

  <input type="submit" value="<%= submit_text %>">
</form>
